/* CSS Document */
/* Media Queries
--------------------------------------------- */

@media (max-width: 1085px) and (min-width: 380px) {
    #wrapper { width: 100%; margin: 0; padding: 0 }

    #header { flex-direction: column; padding-left: 0; padding-right: 0; min-height: 65px }

    #site-branding { margin: 0 10px }

    #header #header-inner { flex-direction: column }

    #site-navigation { display: none; visible: collapse }

    #mobile-navigation { display: block }

    .page-heading { border-left: none; border-right: none }

    #secondary { border-right: none }

    .post-container { padding: 20px }

    .pagination { margin-left: 8px; margin-right: 8px }
}

@media (max-width: 1200px) and (min-width: 381px) {
    .post-content-wrapper { grid-template-columns: 100% }
    #post-list-content #posts .post-item-thumbnail .posticons { display: none }
}

@media (max-width: 988px) and (min-width: 381px) {
    #footer #footer-inner { flex-direction: column }

    #author-page-author-box { margin-bottom: 0px }

    #container,
    #post-container,
    #post-list-content,
    #related-posts { grid-template-columns: 100% }

    #post-container { gap: 10px;}

    .widget-area { padding: 0px }

    .author-box { flex-direction: column }

    .author-box .author-avatar { display: flex; align-items: center; justify-content: center }

    #posts,
    #related-posts { margin: 0px }

    #secondary,
    .post-single,
    #posts .post-item,
    .single-post-content { border-left: none; border-right: none; margin: 0 }

    .post-item,
    .author-box .author-info { margin: 0px }

    #related-posts .post-item { width: 100% }

    #related-posts .post-item-thumbnail .post-thumbnail-missing { width: 100% }

    .post-container { padding: 25px }

    #footer #footer-inner .footer-widget { width: 100%; gap: 0 }

    #error-additional-message { font-size: 60px }
}

@media all and (max-width : 596px) {
    #error-message { font-size: 200px }

    #error-additional-message { font-size: 50px }
    
    #site-branding a,
    #site-branding h1,
    #site-branding h2 { font-size: 45px }

    #single-post-meta { display: grid; gap: 10px }
    #single-post-meta .meta-row { display: block; width: 100%}
    #single-post-meta .meta-separator::after { content: "" !important }
}

