:root {
  accent-color: var(--universal-accent-color);
}

label {display: inline-flex; vertical-align: bottom}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="color"],
input[type="search"],
input[type="week"],
input[type="month"],
input[type="radio"],
input[type="checkbox"],
textarea,
select,
select option {appearance: none; box-sizing: border-box; width: 100%; max-width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 2px; background: #fff; min-height: 20px; transition: border-color 0.3s ease-in-out}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="time"]:disabled,
input[type="color"]:disabled,
input[type="range"]:disabled::-webkit-slider-container,
input[type="search"]:disabled,
input[type="week"]:disabled,
input[type="month"]:disabled,
input[type="radio"]:disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"]:disabled,
textarea:disabled,
select:disabled,
select option {background: #f9f9f9; border-color: #ddd;}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
input[type="color"]:focus,
input[type="search"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus,
textarea:focus {border-color: var(--universal-accent-color); outline: none}

input[type="file"] {display:inline-flex; align-items:center; box-sizing: border-box;}

/* For invalid inputs */
input:not([type="checkbox"],[type="radio"],[type="submit"],[type="reset"],[type="button"],[type="range"],[type="color"],[type="search"]):invalid {border-color: red}

/* For valid inputs */
input:not([type="checkbox"],[type="radio"],[type="submit"],[type="reset"],[type="button"],[type="range"],[type="color"],[type="search"]):valid {border-color: green}

input[type=checkbox],
input[type=radio] {min-width: 20px; width: 20px; height: 20px; padding: 0px; display: inline-grid; align-items: center; justify-content: center; box-shadow: none; transition: all 0.3s ease-in-out}
input[type=checkbox] {-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px}
input[type=radio] {border-radius:100%}
input[type=checkbox]:checked,
input[type=radio]:checked {background:var(--universal-accent-color)}
input[type=checkbox]:checked:hover,
input[type=radio]:checked:hover {background:#111}
input[type=checkbox]::after,
input[type=radio]::after {content:""; display: inline-flex; align-items: center; justify-content: center; opacity:0; transition: all 0.3s ease-in-out}
input[type=checkbox]:checked::after {opacity:1; width:5px; height:15px; border-right:2px solid #fff; border-bottom:2px solid #fff; transform:rotate(45deg); transition: all 0.3s ease-in-out}
input[type=radio]:checked::after {opacity:1; width:12px;  height:12px; background:var(--universal-accent-color); border:2px solid #fff; border-radius:100%; transition: all 0.3s ease-in-out}
input[type=radio]:checked:hover::after {background:#111}

input[type="search"] {position: relative; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27c1.2-1.4 1.95-3.31 1.95-5.4C16.38 5.36 13.02 2 9.25 2S2 5.36 2 9.13s3.36 7.13 7.13 7.13c2.09 0 3.99-.75 5.4-1.95l.27.28v.79l5 4.99L20.49 18l-4.99-5zm-6.37 0C6.36 14 4 11.64 4 9.13S6.36 4.25 8.87 4.25s4.88 2.36 4.88 4.88-2.36 4.87-4.88 4.87z' fill='%23000'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: 1.6EM 1.2EM; background-position: right center; padding: 10px 28px 10px 10px}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none}

input[type="color"]{padding: 5px; min-width: auto; width: 100% !important; height: 50px}
input[type="color"]::-webkit-color-swatch-wrapper {padding: 0}
input[type="color"]::-webkit-color-swatch,
input[type="color"]::-moz-color-swatch {border: none}

/* Apply styles to single-select dropdowns */
select:not([multiple]) {position: relative; background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='15px' width='20px'%3E%3Ctext x='0' y='12' fill='rgba(0,0,0,1.0)'%3E%E2%96%BE%3C/text%3E%3C/svg%3E") #fff; background-repeat: no-repeat; background-size: 1.5EM 1EM; background-position: right center; box-shadow: none;}
select,
select option {color: #000 !important;}

/* Style all button elements on hover, active, and focus */
input[type="file"]::file-selector-button {margin-right: 10px !important;}
button,
input[type="file"]::file-selector-button,
input[type="button"],
input[type="reset"],
input[type="submit"] { display: inline-flex; flex-direction: column; align-items: center; justify-content: center;appearance: none; padding: 10px 10px; box-sizing: border-box; background: var(--universal-accent-color); color: var(--universal-accent-color-text-color); font-size: 1em; border: none; border-radius: 2px; cursor: pointer; text-decoration: none; max-height: 48px; border: 1px solid #ccc; transition: background 0.3s ease-in-out}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {appearance: button; box-sizing: border-box; display:block; padding: 5px 10px; background: var(--universal-accent-color); color: var(--universal-accent-color-text-color); font-size: 1em; border: none; border-radius: 2px; cursor: pointer; text-decoration: none; opacity: 1; transition: background 0.3s ease-in-out}

button:hover,
input[type="file"]::file-selector-button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:active,
input[type="file"]::file-selector-button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:focus,
input[type="file"]::file-selector-button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {background: #212121; color: #fff}

button:disabled,
input[type="file"]:disabled::file-selector-button,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {background: #919191}

::-moz-range-track {appearance: none; display: flex; align-items: center; justify-content: center; width: 100%; max-width: 100%; border: 1px solid #ccc; border-radius: 100px; height: 5px; background: #fff; transition: border-color 0.3s ease-in-out}

::-webkit-slider-container {appearance: none; display: flex; align-items: center; justify-content: center; width: 100%; max-width: 100%; border: 1px solid #ccc; border-radius: 100px; height: 5px; background: #fff; transition: border-color 0.3s ease-in-out}

::-moz-range-progress {background: var(--universal-accent-color-alt); padding: 0 !important; border-radius: 1000px !important; height: 5px}

::-moz-range-thumb,
::-webkit-slider-thumb {background: var(--universal-accent-color); border: none; max-width: 20px; width: 15px; height: 15px; border-radius: 100px; box-shadow: none; transition: all 0.3s ease-in-out}

::-moz-range-thumb:hover,
::-moz-range-thumb:active,
::-moz-range-thumb:focus,
::-webkit-slider-thumb:hover,
::-webkit-inner-spin-button:hover,
::-webkit-slider-thumb:active,
::-webkit-inner-spin-button:active,
::-webkit-slider-thumb:focus,
::-webkit-inner-spin-button:focus {background: #212121; color: #fff}

input:disabled::-moz-range-thumb,
input:disabled::-webkit-slider-thumb,
input[type="number"]:disabled::-webkit-inner-spin-button:hover {background: #919191}

input[type="renge"]::-moz-range-thumb,
input[type="renge"]::-webkit-slider-thumb {
    padding: 0;
    border-radius: 100%;
    z-index: 999;
}

progress{appearance: none; box-sizing: border-box; width: 100%; max-width: 100%; border: 1px solid #ccc; border-radius: 2px; background: #fff; min-height: 20px; transition: border-color 0.3s ease-in-out}
progress::-webkit-progress-bar{background:transparent}
progress[value]::-webkit-progress-value{background: var(--universal-accent-color); animation: pingPong 4s linear infinite; width: 50%}
progress:not([value])::-webkit-progress-value{background: var(--universal-accent-color); animation: pingPong 4s linear infinite; width: 50%}
progress[value]::-moz-progress-bar{background: var(--universal-accent-color)}
progress:not([value])::-moz-progress-bar{background: var(--universal-accent-color); animation: pingPong 4s linear infinite; width: 50%}

meter {appearance: none; box-sizing: border-box; width: 100%; max-width: 100%; border: 1px solid #ccc; border-radius: 2px; background: #fff; min-height: 20px; transition: border-color 0.3s ease-in-out}
meter:-moz-meter-bar  {appearance:none; box-sizing:border-box; width: 100%; max-width: 100%; border: 1px solid #ccc; border-radius: 2px; background: #fff; min-height: 20px; transition: border-color 0.3s ease-in-out}
meter::-webkit-meter-bar{background:transparent}
meter[value]::-webkit-meter-optimum-value{background: var(--universal-accent-color)}
meter[value]:-moz-meter-optimum::-moz-meter-bar{background: var(--universal-accent-color)}
@keyframes pingPong{0%{transform:translateX(0%)} 50%{transform: translateX(100%)} 100%{transform:translateX(0%)}}

kbd{background: var(--universal-accent-color); border-radius: 3px; color: var(--universal-accent-color-text-color); display: inline-block; font-size: 0.85em !important; font-weight: 700; line-height: 1; padding: 4px 8px; white-space: nowrap}

form {display: flex; flex-direction: column; gap: 5px; padding: 20px}
form label {display: flex; gap: 5px; padding: 2px 0px; margin: 2px 0px}

form fieldset {display: grid; grid-template-columns: repeat(auto-fill, minmax(var(--u-post-item-min-width), 1fr)); gap: 10px;  width: 100%; max-width: 100%; padding: 10px; border: 1px solid #ccc;}
