:root {
  /* U grid Sidebar Width Ajust to fix theme */
  --u-post-sb-width: 350px;
  --u-post-item-min-width: 275px;
  --u-post-item-min-height: 575px;
}

/* Apply Google Fonts to specific elements */
body {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    padding: 0;
    font-weight: 200;
    font-style: normal;
    max-width: unset;
    background-color: #f0f0f0;
    color: #666;
    height: 100%;
    text-size-adjust: 100%;
    --moz-text-size-adjust: 100%;
    --webkit-text-size-adjust: 100%;
    font-optical-sizing: auto;
    font-size-adjust: from-font;
    text-transform: full-size-kana;
}

.tiktok-embed {margin: 0 auto !important; max-height: 575px !important;}

/* Style headings */
h1, h2, h3, h4, h6 {color: #333}

/* Style links */
a {color: var(--universal-accent-color); text-decoration: none; cursor: pointer; pointer-events: auto}
a:hover {text-decoration: underline}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*--------------------------*
/* WordPress Alignments 100%
/*--------------------------*/
.alignnone,.wp-caption.alignleft,.wp-caption.alignnone,a img.alignnone{margin: 5px 20px 20px 0}
.aligncenter,div.aligncenter{display: block; margin: 5px auto}
.alignright,a img.alignright{float: right; margin: 5px 0 20px 20px}
.alignleft,a img.alignleft{float: left; margin: 5px 20px 20px 0}
a img.aligncenter{display: block; margin-left: auto; margin-right: auto}
.wp-caption{background: #212121; max-width: 100%; padding: 0; text-align: center}
.wp-caption.alignright{margin: 5px 0 20px 20px}
.wp-caption img{border: 0; height: auto; margin: 0; max-width: 100%; padding: 0; width: auto}
.wp-caption .wp-caption-text{display: flex; align-items: flex-end; justify-content: center; font-size: 14px; vertical-align: middle; color: #ccc; padding: 10px 5px; line-height: 14px; height: 24px}
.gallery-caption {background-color: #212121; padding: 5px 10px; transition: all 150ms linear 0.1ms}
.screen-reader-text { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0}
.bypostauthor {}
img {object-fit: cover}

#wrapper {margin: 0 auto; display: block; max-width: 100%}

/* Basic Style for the header & footer */
#header,
#footer {background-color: #212121; max-width: 100%; padding: 0 35px}

/* Basic Style for the header-inner & footer*-inner */
#header #header-inner,
#footer #footer-inner {width: 100%;  margin: 0; padding: 0}

/*--------------------------*
/* Header Styles 100%
/*--------------------------*/

#header-inner {min-height: 158px;}

/* Style the site branding container */
#site-branding {max-width: 100%; margin: 0; padding: 0}

#site-branding a,
#site-branding h1,
#site-branding h2 {margin-right: 10px; color: #ffffff; text-decoration: none;}
#site-branding img {min-height: 65px; max-height: 128px; margin-right: 15px; max-width: 100%}

/* Style the navigation menu for desktop */
#site-navigation {width: 100%; border-radius:2px; padding: 10px; font-size: 18px}

#site-navigation input[type="checkbox"] {display: none; height: auto}

.burger {font-size: 30px; line-height: 38px;align-items: center}

.burger .dashicons {width: 50px; height: 50px; font-size: 50px; line-height: 50px}

/*--------------------------*
/* Site Navigation Styles 90%
/*--------------------------*/

#site-navigation .toggle,
#site-navigation [id^=drop] { cursor: pointer; width: 30px !important; transition: all 500ms linear 0s}

#site-navigation .toggle,
#site-navigation #main-toggle,
#site-navigation [id^=drop] {display: none}

#site-navigation ul {display: flex; list-style: none; margin: 0; padding: 0}

#site-navigation ul li {margin: 0 4px; border-bottom: solid 5px #666; transition: all 500ms linear 0s}

#site-navigation ul li {
    display: block;
    position: relative;
    min-width: 100px;
}

#site-navigation .menu a {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 15px 10px;
    cursor: pointer;
}

#site-navigation .menu li:hover > a,
#site-navigation .current-menu-item > .toggle,
#site-navigation .menu li:hover > .drop-header a,
#site-navigation .current-menu-item > a:first-of-type,
#site-navigation .menu li:hover > .drop-header .toggle,
#site-navigation .menu li:hover:first-of-type > a:first-of-type {color: var(--universal-accent-color-text-color)}

#site-navigation .menu .drop-header { width: 100%}

#site-navigation .menu .drop-header a {
    width: auto;
}

/* Style the submenu */
#site-navigation ul ul {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #212121;
    width: 100%; /* Make sub-menu full parent width */
    z-index: -1; /* Adjust z-index to control the stacking order */
    transition: all 500ms linear 0s
}

/* Adjust the position of nested sub-menus */
#site-navigation ul ul ul {top: 0px; left: 100%}

#site-navigation ul ul li {margin: 0}

#site-navigation ul li:hover > ul {display: block; width: 100%; z-index: 999}

/* Change menu accent color for li:hover .current-menu-item & .current-menu-item .toggl*/
#site-navigation li:hover,
#site-navigation .current-menu-item {border-bottom: solid 5px var(--universal-accent-color)}

/*--------------------------*
/* Post Common Styles 100%
/*--------------------------*/

/* Style the main content area */
#container {margin: 10px 0 }

.page-heading {background-color: #fff; padding: 10px; border-radius: 4px; border: 1px solid #ccc}

#archive-title {margin: 20px; font-size: 2.000em; line-height: 1.2em; font-weight: 300; text-align: center}

#universal_search_filter_form *:not([type="submit"]) {max-width: 256px; display: unset;}
#universal_search_filter_form *[type="submit"] {width: 100%;}

/* Common styles for both post grid and single post */
/*.panel-grid-cell .so-panel {padding: 10px; width: 100%; max-height: 100%; overflow-wrap: anywhere}*/

/* Common styles for both post grid and single post */
.post-common {padding: 35px; width: 100%; max-height: 100%; overflow-wrap: anywhere}

.post-common-pages {padding: 10px; width: 100%; max-height: 100%; overflow-wrap: anywhere}

.post-common-bg {background-color: #fff}

.related-post-bg {background-color: #f9f9f9 !important}

.post-item-thumbnail,
.related-post-item-thumbnail {display: block; max-width: 100%;}

iframe,
.post-item-thumbnail .wp-post-image,
.post-thumbnail-missing {width: 100%; object-fit: contain}

.related-posts a,
.post-item-thumbnail a {text-decoration: none !important}

.post-item-thumbnail .post-thumbnail-missing,
.post-item-thumbnail .post-thumbnail-missing:hover {
    display: block; height: 300px; width: 100%; background-color: #fff; color: #000; font-size: 200px; text-align: center; text-decoration: none !important; vertical-align: middle;
}

.single-format-video .post-thumbnail-video iframe, iframe {max-height: 550px}

/* Style the post title for post grid */
.post-common .post-title {font-size: 24px; margin: 0px;}

/* Style the post title for post grid */
.post-common .post-title a {color: #333; text-decoration: none}

.post-common .post-title .dashicons {background: var(--universal-accent-color-alt); position: relative; bottom: -1.5px; width: 25px; height: 25px; backdrop-filter: blur(10px); border-radius: 100%}
.post-common .post-title .dashicons::before {vertical-align: middle; font-size: unset; position: absolute; bottom: 3px; right: 2.5px; color: var(--universal-accent-color-text-color)}

.post-common .post-item-thumbnail form,
.post-common .post-content-common form {padding: 2px}

.post-item-thumbnail form fieldset,
.post-common .post-content-common form fieldset {display: unset !important}

/* Style the post content for post grid */
.post-common .post-content-common {font-size: 16px; line-height: 1.5; color: #666}

/* Style the individual elements within post meta for single post */
.post-common .post-meta-common .meta-label {color: #555}

/*--------------------------*
/* Post Styles 100%
/*--------------------------*/

#posts, #related-posts {max-height: 100%; max-width: 100%; transition: all 150ms linear 0.1ms}

#posts .post-item-thumbnail .post-thumbnail-missing {max-height: 300px; text-decoration: none}
#posts .post-item-thumbnail .jetpack-slideshow-window {height: 50px; }
#posts .post-item-thumbnail iframe {max-height: 300px; }

#posts .post-item-thumbnail,
#related-posts .related-post-item-thumbnail {position: relative}

#posts .post-item-thumbnail .dashicons {display: block; background: var(--universal-accent-color-alt);position: absolute; width: 40px; height: 40px; bottom: 10px; right: 10px; backdrop-filter: blur(10px); border-radius: 100%}
#posts .post-item-thumbnail .dashicons::before {vertical-align: middle; position: absolute; bottom: 10px; right: 10px; color: var(--universal-accent-color-text-color)}

/* Style the post container for post grid */
#posts .post-item,
#related-posts .post-item {border: calc(1px + 0.5px) solid #ccc; transition: all 150ms linear 0.1ms}
#posts .sticky,
#related-posts .sticky {border: calc(1px + 0.5px) solid var(--universal-stick-post-border-color); transition: all 150ms linear 0.1ms}
#posts .post-item:hover,
#related-posts .post-item:hover {border-color: var(--universal-accent-color)}

.wp-video,
.wp-video video {display: flex !important; width: 100% !important}

/*--------------------------*
/* Post Metta Common Styles 100%
/*--------------------------*/

/* Style the post meta information for single post */
.post-meta-common a {font-size: 14px}

/* Style the separator between meta items for post grid */
.post-meta-common .meta-separator:not(:last-child)::after {content: '|'; margin: 0 5px 0 10px; color: #777}

/* Style the post meta information for post grid */
#posts .post-item .post-meta-common {font-size: 14px; color: #888}

/* Style the individual elements within post meta for post grid */
#posts .post-item .post-meta-common .meta-row {margin: 5px 0}

#posts .post-item .post-meta-common .meta-label {color: #333; width: 100%}

#posts .post-item .post-meta-common .meta-value {color: #555; width: 100%}

.post-single {border: 1px solid #ccc}

/* Style the post title for single post */
.post-single #post-title {font-size: 28px; margin: 0px}

/* Style the post meta information for single post */
.post-single .post-meta-common {font-size: 16px}

.post-single .post-meta-common meta-label {font-weight: 400;  color: #777}

/*--------------------------*
/* Post Single Styles 50%
/*--------------------------*/

.post-single .post-meta-common .meta-value {color: #777}

/* Style the post content for single post */
.post-single .post-content-common {font-size: 18px}

/* Style the Post Tags section */
.post-single #post-tags {max-width: 100%}
.post-single #post-tags-title,
.post-single #post-author-box-title {max-width: 100%; margin-top: 20px}

.post-single #post-author-box-title a {text-decoration: none; color: #000}

.post-single #post-author-box-title a:hover {color: var(--universal-accent-color)}

/* Style the individual tags */
.post-single #post-tags a { display: inline-block; color: #fff; margin: 5px 5px; padding: 10px 15px; border-radius: 2px; text-wrap: nowrap; text-decoration: none; transition: all 0.3s; background-color: #212121}

/* Style the tags on hover */
.post-single #post-tags a:hover {color: var(--universal-accent-color-text-color); background-color: var(--universal-accent-color)}

/*--------------------------*
/* Author Box Styles 100%
/*--------------------------*/

/* Style the author box container */
.author-box {padding: 20px; background-color: #f9f9f9; border: 1px solid #ccc}

#post-author-box {padding: 0px; margin: 0px; background-color: transparent; border: none}

#author-page-author-box {margin-bottom: 10px;}

/* Style the author's profile picture */
.author-box .author-avatar img {height: auto; margin: 0px;}

.author-box .author-info {margin-left: 10px}

/* Style the author's name */
.author-box .author-info .author-name {font-size: 24px; font-weight: bold; color: #333; margin: 0px}

/* Style the author's job title */
.author-box .author-info .author-title {font-size: 16px; font-weight: normal; margin: 5px 0; color: #888}

/* Style the author's bio */
.author-box .author-info .author-bio {font-size: 14px; line-height: 1.4; color: #555}

/* Style the social media links */
.author-box .author-info .social-link {text-decoration: none; color: var(--universal-accent-color); margin-right: 10px; font-size: 16px}

/* Style the author's website link */
.author-box .author-info .website-link {text-decoration: none; color: #333; font-weight: bold; display: block; margin-top: 10px; font-size: 16px}

/*--------------------------*
/* Related Post Section Styles 100%
/*--------------------------*/
#related-posts { --u-post-item-min-width: 190px; --u-post-item-min-height: 270px;}
#related-posts .post-item {height: 270px; width: 190px; padding: 20px; overflow: hidden}
#related-posts .post-container {padding: 0;}
#related-posts .related-post a {color: #000}
#related-posts .post-item-thumbnail .post-thumbnail-missing {height: 150px; width: 150px; font-size: 125px; text-decoration: none}
#related-posts .post-title {font-size: 14px; overflow: hidden}

/*--------------------------*
/* Comment Section Styles 100%
/*--------------------------*/

#comments-section {
  padding: 20px 0;
  width: 100%;
}

/* Style the comments list */
#comments-section #comment-lists {
  padding: 0;
  list-style-type: none;
}

#comments-section #comment-lists .comment-gravatar {
  margin: 4px;
  padding: 4px;
}

#comments-section #comment-lists img {
  height: auto;
  margin: 0;
  padding: 0;
}

/* Style the comment container */
#comments-section #comment-lists .comment .comment-body {
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 10px 0;
  padding: 10px;
}

/* Style the comment container */
#comments-section #comment-lists .even .comment-body {
  background-color: #f4f4f4;
}

/*odd alt thread-odd thread-alt*/

/* Style the comment container */
#comments-section #comment-lists .odd .comment-body {
  background-color: #f9f9f9;
}

/* Style the comment content inner */
#comments-section #comment-lists .comment .comment-body .comment-content .comment-content-inner {
  width: 100%;
  margin: 4px;
  padding: 4px;
}

#comments-section #comment-lists .comment .comment-body .comment-content .comment-text {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Style the comment meta */
#comments-section #comment-lists .comment .comment-body .comment-meta {
  font-size: 14px;
  width: 100%;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

/* Style the comment author's name */
#comments-section #comment-lists .comment .comment-body .comment-meta .comment-author {
  color: #AAA;
}

/* Style the comment date */
#comments-section #comment-lists .comment .comment-body .comment-meta .comment-author span {
  font-weight: 800;
  color: #666;
}

/* Style the comment date */
#comments-section #comment-lists .comment .comment-body .comment-meta .comment-date {
  color: #AAA;
}

/* Style the comment controls */
#comments-section #comment-lists .comment .comment-body .comment-controls {
  margin-top: 10px;
  font-size: 14px;
  color: #888;

}

/* Style the comment reply link */
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-reply-link {
  text-decoration: none;
  color: var(--universal-accent-color);
  margin-right: 10px;
}

/* Style the comment edit and delete links */
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-edit-link,
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-delete-link,
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-spam-link {
  text-decoration: none;
  color: var(--universal-accent-color);
  margin-right: 10px;
}

#comments-section #comment-lists .comment .comment-body .comment-controls .comment-reply-link:hover,
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-edit-link:hover,
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-delete-link:hover,
#comments-section #comment-lists .comment .comment-body .comment-controls .comment-spam-link:hover {
  text-decoration: underline;
}

/* Style child comments */
#comments-section #comment-lists .comment .child-comments {
  margin-left: 10px;
}

/* Style comment form */
#commentform { margin: 20px 0; display: flex; flex-direction: column; gap: 5px}

#commentform label {margin-bottom: 5px; display: flex; gap: 5px; padding: 10px 0; align-items: center}

#commentform .comment-form-comment input[type="text"],
#commentform .comment-form-comment input[type="email"],
#commentform .comment-form-comment textarea {
  margin-bottom: 10px;
}

#commentform .comment-form-comment textarea {
    resize: vertical;
}
#comment-respond .comment-form-title {display: flex; flex-direction: row; align-items: center}

#comment-respond #comment-form-cookies-consent {display: flex; flex-direction: row; align-items: center}

#commentform .form-submit {
  margin-top: 10px;
}

/*--------------------------*
/* Common Pagination Styles 100%
/*--------------------------*/

/* Style the comments pagination */
.pagination,
.post-nav-links,
.comments-pagination {
  font-size: 16px;
}

/* Style the individual pagination links */
.pagination .page-numbers,
.post-nav-links .post-page-numbers,
.comments-pagination .page-numbers,
.pagination .dots,
.post-nav-links .dots,
.comments-pagination .dots {
  color: #fff;
  font-size: 18px;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 2px;
  text-decoration: none;
  vertical-align: middle;
  transition: background-color 0.3s, color 0.3s
  
}

.page-count {
    margin-right: 5px;
}

.pagination .prev,
.post-nav-links .prev,
.comments-pagination .prev,
.pagination .next,
.post-nav-links .next,
.comments-pagination .next {
  padding: 10px;
}

.pagination a,
.post-nav-links a,
.comments-pagination a,
.pagination .dots,
.post-nav-links .dots,
.comments-pagination .dots {
  background-color: #000;
}

.pagination .current,
.pagination a:hover,
.post-nav-links a:hover,
.post-nav-links .current,
.comments-pagination .current,
.comments-pagination a:hover {
  background-color: var(--universal-accent-color)
}

.pagination {
    margin-top: 10px;
    margin-bottom: 10px
}

#post-nav-links {
    margin-bottom: 0px
}

/*--------------------------*
/* Common widget Style 50%
/*--------------------------*/
.widget {
  margin-bottom: 10px;
}

.widget .widget-title {
  gap:5px;
  display: flex;
  font-size: 24px;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.widget .widget-title::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  margin-top: 5px;
  margin-left: 5px;
  background: #C9C9C9;
}

.widget li a {
    text-decoration: none;
}

.widget a {
    display: flex;
}

.widget form {background: transparent; border: none; padding: 0; margin: 0}

.widget_calendar {background: #fff; float: left}
.widget_calendar .calendar_wrap {padding: 8px 8px 0px 8px}
#wp-calendar {width: 100%}
#wp-calendar caption {text-align: right; font-size: 12px; margin-bottom: 10px}
#wp-calendar thead {font-size: 10px}
#wp-calendar thead th {background: transparent; text-align: center; vertical-align: middle; padding: 0 8px; margin:10px; color: #fff}
#wp-calendar tbody td:not([class]) {background: transparent; text-align: center; vertical-align: middle; padding:8px; margin:10px}
#wp-calendar tbody td:not([class]):hover {background: var(--universal-accent-color) !important; color: #fff !important}
#wp-calendar tbody td:not([class]):hover a {background: var(--universal-accent-color) !important; color: #fff}
#wp-calendar tfoot #next {font-size: 10px; text-transform: uppercase; text-align: right; color: #fff}
#wp-calendar tfoot #prev {font-size: 10px; text-transform: uppercase; padding-top: 10px; color: #fff}
.widget_calendar .wp-calendar-nav {display: flex; padding: 5px 0; margin: 10px 0}
.widget_calendar .wp-calendar-nav .wp-calendar-nav-prev a,
.widget_calendar .wp-calendar-nav .wp-calendar-nav-next a {display: flex; background: #000; color: #fff; margin: 5px 0; max-width: 100%; border-radius: 2px; padding: 10px 15px; text-decoration: none}
.widget_calendar .wp-calendar-nav .wp-calendar-nav-prev a:hover,
.widget_calendar .wp-calendar-nav .wp-calendar-nav-next a:hover {background: var(--universal-accent-color)}

/* tag-cloud widget */
.widget_tag_cloud {}
.tag-cloud-link,
.widget_tag_cloud a {
    display: inline-block;
    color: #fff;
    margin: 5px 2px;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 14px !important;
    text-wrap: nowrap;
    text-decoration: none;
    transition: all 0.3s;
    background-color: #000;
}

/* Style the tags in the widget on hover */
.tag-cloud-link:hover,
.widget_tag_cloud a:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--universal-accent-color);
}

.widget_meta ul,
.widget_links ul,
.widget_pages ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_categories ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    padding-left: 10px;
}

.widget_meta ul li,
.widget_links ul li,
.widget_pages ul li,
.widget_archive ul li,
.widget_nav_menu ul li,
.widget_categories ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
    padding: 5px 0 5px 0;
    line-height: 30px;
    overflow: hidden;
}

/* Style widget categories links */
.widget_meta ul li a,
.widget_links ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_nav_menu ul li a,
.widget_categories ul li a,
.widget_recent_comments ul li a,
.widget_recent_entries ul li a {
    text-decoration: none;
    cursor: pointer;
    padding-left: 5px;
}

/* Style widget categories links on hover */
.widget_meta ul li a:hover,
.widget_links ul li a:hover,
.widget_pages ul li a:hover,
.widget_archive ul li a:hover,
.widget_nav_menu ul li a:hover,
.widget_categories ul li a:hover,
.widget_recent_comments ul li a:hover,
.widget_recent_entries ul li a:hover {
    text-decoration: underline;
}

.widget_links ul li a,
.widget_archive ul li a,
.widget_categories ul li a {
    display: inline;
}

.widget_meta ul li .children,
.widget_links ul li .children,
.widget_pages ul li .children,
.widget_archive ul li .children,
.widget_nav_menu ul li .children,
.widget_categories ul li .children,
.widget_recent_comments ul li .children,
.widget_recent_entries ul li .children { padding-left: 20px}

/* Style the sidebar container */
.widget form,
.widget input[type="text"],
.widget input[type="email"],
.widget input[type="password"],
.widget input[type="number"],
.widget input[type="tel"],
.widget input[type="url"],
.widget input[type="date"],
.widget input[type="datetime-local"],
.widget input[type="time"],
.widget input[type="color"],
.widget input[type="search"],
.widget input[type="week"],
.widget input[type="month"],
.widget select,
.widget select option,
.widget textarea,
.widget label {
    min-width: 230px;
}

.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6
.widget button,
.widget input[type="file"]::file-selector-button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
    margin: 5px 0;
}

/*--------------------------*
/* Secondary widget Style 50%
/*--------------------------*/
#secondary {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-left-width: 0px;
}

#secondary .widget li a {
    color: #000;
}

#secondary .widget li a:hover {
    color: var(--universal-accent-color);
    text-decoration: none;
}

#secondary .widget_meta ul li:not(:has(ul)),
#secondary .widget_links ul li:not(:has(ul)),
#secondary .widget_pages ul li:not(:has(ul)),
#secondary .widget_archive ul li:not(:has(ul)),
#secondary .widget_nav_menu ul li:not(:has(ul)),
#secondary .widget_categories ul li:not(:has(ul)),
#secondary .widget_recent_comments ul li:not(:has(ul)),
#secondary .widget_recent_entries ul li:not(:has(ul)) {border-bottom: 1px solid #D9D9D9}

#secondary .widget_meta .children,
#secondary .widget_links .children,
#secondary .widget_pages .children,
#secondary .widget_archive .children,
#secondary .widget_nav_menu .children,
#secondary .widget_categories .children,
#secondary .widget_recent_comments .children,
#secondary .widget_recent_entries .children {border-top: 1px solid #D9D9D9}

/* Style widget titles */
#secondary .widget .widget-title {
    color: #333;
}

#secondary #wp-calendar caption {border-bottom: 1px solid #C9C9C9; color: #333}
#secondary #wp-calendar thead th,
#secondary #wp-calendar tbody td:not([class]) {background: #f9f9f9; border: 1px solid #ccc; color: #333}
#secondary .wp-calendar-nav {border-top: 1px solid #C9C9C9}

/*--------------------------*
/* footer widget Style 50%
/*--------------------------*/

#footer {padding: 35px}

.footer-widget .widget_meta ul li:not(:has(ul)) a,
.footer-widget .widget_links ul li:not(:has(ul)) a,
.footer-widget .widget_pages ul li:not(:has(ul)) a,
.footer-widget .widget_archive ul li:not(:has(ul)),
.footer-widget .widget_categories ul li:not(:has(ul)),
.footer-widget .widget_nav_menu ul li:not(:has(ul)),
.footer-widget .widget_recent_comments ul li:not(:has(ul)),
.footer-widget .widget_recent_entries ul li:not(:has(ul)) {border-bottom: 1px solid #555}

.footer-widget .widget_meta .children,
.footer-widget .widget_links .children,
.footer-widget .widget_pages .children,
.footer-widget .widget_archive .children,
.footer-widget .widget_nav_menu .children,
.footer-widget .widget_categories .children,
.footer-widget .widget_recent_comments .children,
.footer-widget .widget_recent_entries .children {border-top: 1px solid #555}

/*.footer-widget .widget {background: #212121; border-radius: 2px}*/
.footer-widget #wp-calendar caption {color: #aaa; border-bottom: 1px solid #555}
.footer-widget #wp-calendar thead th,
.footer-widget #wp-calendar tbody td:not([class]) {background: #151515; border: 1px solid #555; color: #ccc}
.footer-widget .wp-calendar-nav {border-top: 1px solid #555}

#footer #footer-inner .footer-widget {
    max-width: 100%;
    height: 100%;
}

#footer #footer-inner .footer-widget .widget .widget-title {
    color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

#footer #footer-inner .footer-widget .widget .widget-title::after {
    background: #ccc;
}

/* Style list item links */
#footer #footer-inner .widget ul li a,
#footer #footer-inner .widget ol li a {
    color: #ccc;
}

#copyright {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 20px;
}

.wp-block-search {padding: 5px 0px;}
.wp-block-search .wp-block-search__inside-wrapper {border: none;}

.wp-element-button {border: none; padding: 5px 10px;}
.has-icon {border: none; padding: 10px !important;}

.post-single canvas,
.post-single pre {background-color: #f5f5f5; border: 1px solid #ccc; padding: 10px; border-radius: 3px; overflow: auto; white-space: break-spaces; transition: all 150ms linear 0.1ms}
.post-single abbr,
.post-single del,
.post-single ins,
.post-single var,
.post-single address {font-size: revert; transition: all 150ms linear 0.1ms}
.post-single abbr::before {content: "("; transition: all 150ms linear 0.1ms}
.post-single abbr::after {content: ")"; transition: all 150ms linear 0.1ms}
.post-single code {display: flex; font-family: 'Courier New', Courier, monospace; padding: 10px; background-color: #212121;  color: #fff; white-space: pre-wrap; border: 1px solid #999; border-radius: 2px; overflow: auto; transition: all 150ms linear 0.1ms}
.post-single blockquote:not([class]):not([id]){border-left: 5px solid var(--universal-accent-color); padding :10px; max-width: 100%; transition: all 150ms linear 0.1ms mar}
.post-single p {overflow-wrap: break-word; word-break: break-word; hyphens: auto; max-width: 100%; line-height: 1.6; transition: all 150ms linear 0.1ms}
.post-single sup,
.post-single sub {font-size: 80%; transition: all 150ms linear 0.1ms}
.post-single details {transition: all 150ms linear 0.1ms}
.post-single details summary
.post-single b,
.post-single var,
.post-single strong {font-weight: bold; transition: all 150ms linear 0.1ms}
.post-single i,
.post-single em {font-style: italic; transition: all 150ms linear 0.1ms}
.post-single u {text-decoration: underline; transition: all 150ms linear 0.1ms}
.post-single table {border-collapse: collapse; border: 1px solid #999; width:100%; transition: all 150ms linear 0.1ms}
.post-single table thead tr th,
.post-single table tbody tr th,
.post-single table tbody tr td {min-width:100px; max-width:100%; border: 1px solid #999; padding: 5px 10px; transition: all 150ms linear 0.1ms}
.post-single table thead tr {background-color: #212121; color: #fff; border: 1px solid var(--universal-accent-color); transition: all 150ms linear 0.1ms}
.post-single table tbody tr:nth-child(odd):not(.disabled){background-color: #f9f9f9; transition: all 150ms linear 0.1ms}
.post-single table tbody tr:nth-child(even):not(.disabled){background-color: #e9e9e9; transition: all 150ms linear 0.1ms}
.post-single audio,
.post-single video,
.post-single canvas,
.post-single embed,
.post-single object {width: 100%; max-width: 100%}
